# Build output
_site/
.sass-cache/
.cache/

# Environment variables
.env
.env.local

# Dependencies
.ntvs_analysis.dat
node_modules/
.yarn/

# Editor directories and files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/
.vs/
.history/
.localhistory/
.vshistory/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db
