---
layout: page.njk
title: # title not necessary for home
styles: index.css
hero: hero-home.njk
---

<section class="homeSection">
    <a class="homeSectionText" href="#">
        <img
            alt="alex boye"
            class="homeSectionImage"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3oX2OQzyJ1llwYyqbzPG3M31Q8LQ8LVf2Tc50Nz846GhyccHs5T-e7emOMlFbAUEntg8mH0RnTsPnuUaKjxJZTw"
        />
        <h6>Orchard at UP <br class="hideDesktop" /> with Alex Boye</h6>
        <p class="homeSectionDate">SAT, AUG 16 | 7 PM</p>
        <button class="homeSectionButton">FREE! Learn More</button>
    </a>
</section>

<section class="homeSection">
    <a class="homeSectionText" href="#">
        <img
            alt="symphony"
            class="homeSectionImage"
            src="https://ogden_images.s3.amazonaws.com/www.heraldextra.com/images/2023/09/05115638/Jeremy-Jordan-singing-_Bring-Him-Home_-1200x798.jpg"
        />
        <h6>2025-2026 <br class="hideDesktop" /> Season Schedule</h6>
        <button class="homeSectionButton">See Calendar</button>
    </a>
</section>

<section class="homeSection">
    <a class="homeSectionText" href="#">
        <img
            alt="symphony"
            class="homeSectionImage"
            src="https://www.uvu.edu/music/images/ensembles/ensembles_bands.jpg"
        />
        <h6>Support the Symphony</h6>
        <button class="homeSectionButton">Learn More!</button>
    </a>
</section>
