<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title + ' - ' if title }}Utah Valley Symphony</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="nav" id="nav">
        <a class="homeLink" alt="Utah Valley Symphony Logo" href="/"><img src="images/uvs-logo.png" /></a>
        <label class="navToggle">
            <input class="navToggleInput" name="toggle navigation menu" type="checkbox" aria-controls="navSecondary" />
            <span class="navToggleIcon"></span>
            <span class="navToggleText">MENU</span>
            <span class="navToggleTextClose">CLOSE</span>
        </label>
    </nav>
    <nav class="navSecondary" id="navSecondary">
        <ul class="navList">
            <li class="navListLogo">
                <a class="homeLink" alt="Utah Valley Symphony Logo" href="/"><img src="images/uvs-logo.png" /></a>
            </li>
            <li class="navListItem"><a href="#">Concerts</a></li>
            <li class="navListItem"><a href="#">Performers</a></li>
            <li class="navListItem"><a href="#">Community</a></li>
            <li class="navListItem"><a href="#">About</a></li>
        </ul>
    </nav>
    <main class="main">
        {{ content | safe }}
    </main>
    <footer class="footer">
        <p>Copyright</p>
        <p>CTA</p>
        <p>Social</p>
    </footer>
</body>

</html>
