.navToggle {
	display: inline-flex;
	align-items: center;
	margin-left: auto;
	cursor: pointer;
	background-color: var(--color-back);
	padding: var(--base-unit);
}

.navToggleIcon {
	display: inline-block;
	position: relative;
	background-clip: content-box;
	background-color: currentColor;
	height: 22px;
	width: 18px;
	padding: 10px 0 10px 0;
	margin-right: 2px;
}

.navToggleIcon::before,
.navToggleIcon::after {
	content: "";
	position: absolute;
	background-color: currentColor;
	height: 2px;
	width: 100%;
}

.navToggleIcon::before {
	top: 4px;
}

.navToggleIcon::after {
	bottom: 4px;
}

.navToggleInput:checked ~ .navToggleIcon {
	background-color: transparent;
}

.navToggleInput:checked ~ .navToggleIcon::before {
	transform: rotate(45deg) translate(8px, 6px);
	top: 0;
}

.navToggleInput:checked ~ .navToggleIcon::after {
	transform: rotate(-45deg) translate(8px, -6px);
	bottom: 0;
}

.navToggleInput {
	position: absolute;
	top: -100%;
	left: -100%;
}

.navToggleText {
	line-height: 1;
}

.navToggleTextClose {
	display: none;
}

.navToggleInput:checked ~ .navToggleTextClose {
	display: inline;
}

.navToggleInput:checked ~ .navToggleText {
	display: none;
}

.nav:has(.navToggleInput:checked) ~ .navSecondary {
	height: 50%;
	overflow: auto;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: calc(var(--base-unit) * 2) calc(var(--base-unit) * 3);
	background-color: var(--color-back);
}

.navSecondary {
	position: absolute;
	z-index: 100;
	top: calc(40px + var(--base-unit) * 2);
	height: 0;
	width: 100%;
	overflow: hidden;
	transition: height 0.25s ease-in-out;
	background-color: var(--color-back);
}

.navList {
}

.navListItem {
	padding: 10px;
}

.navListLogo {
	display: none;
	margin-right: auto;
}

.homeLink {
	display: inline-block;
	max-height: 40px;
	max-width: 40px;
	border-radius: 50%;
	background-color: var(--color-fore);
}

.main {
	flex: auto; /* allow main to take up available space */
	padding: calc(var(--base-unit) * 3);
	background-color: var(--color-back-accent);
}

.footer {
	background-color: var(--color-back);
    padding: calc(var(--base-unit) * 3);
	font-size: calc(1rem - 2px);
}

.footerSocials {
    display: flex;
    margin-bottom: calc(var(--base-unit) * 3);
}

.footerSocial {
    /* display: inline-flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: calc(var(--base-unit) * 10);
    height: calc(var(--base-unit) * 10); */
    margin: calc(var(--base-unit) * 2);
}

.footerSocialImg {
	height: calc(var(--base-unit) * 6);
}

@media (min-width: 481px) {
	.nav {
		display: none;
	}

	.navSecondary {
		position: static;
		height: auto;
		overflow: visible;
	}

	.navListLogo {
		display: list-item;
	}

	.navList {
		display: flex;
		align-items: center;
	}
}
